     
<div class="container">
 <!--CAT 1-->
    <div class="row">
        
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Aqui y Ahora</h1>
                   <p class="lead"></p>
            </div>
        </div>
      <app-post-list></app-post-list>

      </div>

<!--CAT A-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Dónde Comer</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-apost-list></app-apost-list>


  </div>


  <!--CAT B-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Dónde Dormir</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-bpost-list></app-bpost-list>


  </div>



    <!--CAT C-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Dónde Caminar</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-cpost-list></app-cpost-list>


  </div>


    <!--CAT D-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Vida Nocturna</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-dpost-list></app-dpost-list>


  </div>


   <!--CAT E-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Cultura & Espectáculos</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-epost-list></app-epost-list>


  </div>

   <!--CAT F-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Festivales y Eventos</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-fpost-list></app-fpost-list>


  </div>


   <!--CAT G-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Vida Comunitaria</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-gpost-list></app-gpost-list>


  </div>


   <!--CAT H-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Murales & Street-Art</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-hpost-list></app-hpost-list>


  </div>

     <!--CAT I-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Mundo del Vino</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-ipost-list></app-ipost-list>


  </div>

     <!--CAT J-->

  <div class="row">

    
       <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-3">Vida al Aire Libre</h1>
                   <p class="lead"></p>
            </div>
        </div>
     
       <app-jpost-list></app-jpost-list>


  </div>

      
     <!-- <div class="col-sm-6" >
        <h3>column 1</h3>

      </div>
      <div class="col-sm-6" >
        <h3>column 2</h3>
      </div>
    </div>-->

</div>
 
  
 
